*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padre{
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: green;
    justify-content: space-between;
    align-items: center;
    gap: 80px 40px;
    /*     
    column-gap: 40px;
    row-gap: 80px; 
    se puede poner todo junto, o separado
    */
    flex-wrap: wrap;
}

.hijo{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background-color: red;
    border: 1px solid black;
    text-align: center;
    padding: 40px; /* para centrar elñ hola, hay mejores maneras */
}



