@import url('./font.css');

h1{
    color: red;
    font-size: 60px;
    text-decoration: underline green solid; 
    letter-spacing: 1px;
    word-spacing: 1px; 
    line-height: 60px; 
    font-weight: 300;
    font-family: 'Poppins';
}