.infoContacto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 70vh; 
    background-color: gray;
    border-radius: 10px;

}

.div-titulo {
    display: flex;
    color: white;
    background-color:  #202C33;
    width: 100%;
    border-radius: 10px;
}

.titulo{
    display: flex;
    align-items: center;
}

.div-boton-volver{
    justify-content: flex-start;
}

.boton-volver{
    display: flex;
    flex-direction: start;
}

.div-imagen{
    width: 200px;
    height: 200px;
}

.imagen{
    height: 100%;
    width: 100%;
}

.div-botones{

    display: flex;
    padding: 10px;
    gap: 20px;
}

.div-boton-1,
.div-boton-2,
.div-boton-3{
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
    align-items: center;
}

.boton-llamada, 
.boton-videollamada,
.boton-buscar {
    color: white;
    font-size: 40px;
    background: none; /* Eliminar fondo */
    border: none; /* Eliminar borde */
    padding: 0; /* Eliminar relleno */
    margin: 0; /* Eliminar margen */
    box-shadow: none; /* Eliminar sombra */
    border-radius: 0; /* Eliminar bordes redondeados */

    cursor: pointer; /* Cambiar el cursor a pointer */
    outline: none; /* Eliminar el contorno en navegadores como Firefox */
}

span{
    display: flex;
    color: white;
}

.div-funciones{
width: 61%;
 background-color: #202C33;
 border-radius: 10px;
 padding: 20px;
 color: white;
}

h3{
    padding: 10px;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: white;
    text-decoration: none;
}
